<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://achilles.cse.tamu.edu/wikiparsing3</property>
        <property name="connection.username">quyin</property>
        <property name="connection.password">quyindbpwd</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity class -->
				<mapping class="ecologylab.semantics.concept.database.orm.Commonness" />
				<mapping class="ecologylab.semantics.concept.database.orm.DbpRecord" />
				<mapping class="ecologylab.semantics.concept.database.orm.Keyphraseness" />
				<mapping class="ecologylab.semantics.concept.database.orm.Relatedness" />
				<mapping class="ecologylab.semantics.concept.database.orm.SurfaceOccurrence" />
				<mapping class="ecologylab.semantics.concept.database.orm.WikiConcept" />
				<mapping class="ecologylab.semantics.concept.database.orm.WikiLink" />
				<mapping class="ecologylab.semantics.concept.database.orm.WikiRedirect" />
    </session-factory>
</hibernate-configuration>
